<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="costReplyMapper">
	<select id="selectCostReply" resultType="costReplyVO" parameterType="costReplyVO">
		SELECT REPLY_NO
		     , REPLY_WRITER
		     , REPLY_DATE
		     , REPLY_CONTENT
		     , COST_NO
		  FROM FORWIZ_REPLY_COST_TB
		 WHERE COST_NO = #{costNo}
	</select>
	
	<insert id="insertCostReply" parameterType="costReplyVO">
		<selectKey keyProperty="replyNo" order="BEFORE" resultType="int">
			SELECT NVL(MAX(REPLY_NO), 0)+1
			  FROM FORWIZ_REPLY_COST_TB
		</selectKey>
		INSERT INTO FORWIZ_REPLY_COST_TB (REPLY_NO
							   	        , REPLY_WRITER
								        , REPLY_DATE
								        , REPLY_CONTENT
								        , COST_NO)
		VALUES (#{replyNo}
			  , #{replyWriter}
			  , SYSDATE
			  , #{replyContent}
			  , #{costNo})
	</insert>
	
	<update id="updateCostReply" parameterType="costReplyVO">
		UPDATE FORWIZ_REPLY_COST_TB
		<set>
			<if test="replyContent != '' or replyContent != null">
				REPLY_CONTENT = #{replyContent},
			</if>
		</set>
		 WHERE REPLY_NO = #{replyNo}
	</update>
	
	<delete id="deleteCostReply" parameterType="costReplyVO">
		DELETE FROM FORWIZ_REPLY_COST_TB
		 WHERE REPLY_NO = #{replyNo}
	</delete>

</mapper>